
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    background-image: url('assets/pexels-lumn-406014.jpg');
    background-size: cover;
    
}
.center-div {
    padding-top: 10%;
}

.btn.btn-success {
    margin-top: 10px; 
}
form{
    padding: 0 3em;
}
#login .title> span{
    font-size: 13px;
}
